.header {
    margin: 12px auto auto;
    width: 80%;
    max-width: 1040px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 150px;
}
.header__links {
    display: flex;
    gap: 25px;
}
.header__link {
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    padding: 6px 12px;
}
.header__link:hover {
    background-color: rgba(25, 118, 210, 0.04);
    transition: .5s;
}
.header__buttons {
    display: flex;
    gap: 16px;
}
.header__button {
    background: #007a60;
    border: 0;
    padding: 9px 12px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}