#section-report {
    padding: 40px 0;
}

.section-report__main {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1232px;
    padding: 0 16px;
    width: 100%;
}

#section-report .section-report__main_label {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 28px !important;
}

#section-report .section-report__main_reports {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-top: 30px;
}

#section-report .section-report__main_reports_background {
    width: 370px;
    height: 560px;
    background-color: #007a60;
    padding-left: 10px;
    padding-top: 10px;
}

#section-report figure {
    box-sizing: border-box;
    margin: 0;
}

.section-report__main_button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(25, 118, 210);
    padding: 8px 16px !important;
}

.section-report__main_button:hover {
    transition: background-color 1s;
}

.section-report__main_span {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0;
    border-radius: inherit;
}
.event-date {
    background-color: #bbb;
    padding: 0 3px;
}

@media (max-width: 1024px) {
    .section-report__main {
        margin-top: 120px;
    }
}

@media (max-width: 900px) {
    .section-report__main {
        margin-top: 350px;
    }
}