.section-discr {
    box-sizing: border-box;
    display: flex!important;
    flex-direction: column;
    justify-content: center!important;
    margin: 12px auto auto;
    max-width: 1300px!important;
    width: 100%;
}

.section-discr__label {
    margin: 120px 0 0;
    font-weight: 300;
    font-size: 6rem;
    line-height: 1.167;
    letter-spacing: -0.01562em;
}

.section-discr__underlabel {
    margin: 24px 0 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.section_discr__sublabel {
    margin: 72px 0 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: -0.00833em;
}

.section-discr__container {
    max-width: 90%;
    align-self: center;
    gap: 32px;
    margin-top: 48px;
}

.section-discr__container__card {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px;
    gap: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 40%) 0 4px 24px;
    border-radius: 12px;
    max-width: 300px;
}

.section-discr__container__card_label {
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}

@media (min-width: 900px) {
    .section-discr__container {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(3, 1fr)
    }
}




